*{font-family: 'Heebo', sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #37c871;
}

#content {
    overflow: auto;
}

#nav,#feature,#footer {
        margin: 1%;}

.column1, .column2, .column3 {
        width: 31.3%;
        float: left;
        margin: 1%;
    }

.column1{
    border: 5px solid #1c2e4a;
    padding: 20px;
    width: 275px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

}

.column3 { 
    margin-right: 0%;
}

li{
        display: inline;
        padding: 5em;}

#nav,#footer{
    background-color: transparent;
    padding: 0.5em 0;}

#feature, .article {
    height: 31em;
    margin-bottom: 1em;
    background-color: #fff;}

#feature {
    background-image: url(./Assets/trex90.png);
    background-position: center;
    background-repeat: no-repeat;
}

p {
    margin-right: 4ch;
    margin-left: 4ch;
}



    

