*{font-family: 'Heebo', sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #37c871;
}

#content {
    overflow: auto;
}

#nav,#feature,#footer {
        margin: 1%;}

.colum1, .colum2, .colum3 {
        width: 31.3%;
        float: left;
        margin: 1%;}

.colum3 { 
    margin-right: 0%;
}

li{
        display: inline;
        padding: 0.5em;}

#nav,#footer{
    background-color: #ffff;
    padding: 0.5em 0;}

#feature, .article {
    height: 30em;
    margin-bottom: 1em;
    background-color: #fff;}

#feature {
    background-image: url(./Assets/trex90.png);
    background-position: center;
    background-repeat: no-repeat;
}
    

